@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/RobotoCondensed-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/RobotoCondensed-Regular.ttf);
    font-weight: 400;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #090c0e;
}

.section-title {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #640e39;
}

h1 {
    font-size: 35px;
    letter-spacing: 5px;
    color: #090c0e;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: #090c0e;
    padding: 10px 20px;
}

.nav-item {
    display: inline-block;
    margin-left: 3%;
}

.nav-list {
    text-align: right;
}

.nav-link {
    text-decoration: none;
    color: #eef2f5;
    font-weight: 400;
}

.nav-link:hover {
    color: #79204c;
}

.box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #5e1136, #7598ad);
    border-bottom: 1px solid #090c0e;
}

.section1 {
    width: 60%;
    padding: 20px;
    margin-left: 30px;
}

.section2 {
    width: 40%;
    padding: 30px;
    margin-top: 40px;
    margin-right: 50px;
    font-size: 20px;
}

.box2 {
    width: 100%;
    padding: 20px;
    background-color: #cedae2;
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #cedae2;
}

.section {
    width: 50%;
    padding: 10px 40px;
   
}

@media (max-width: 780px) {
    .section, .section1, .section2 {
        width: 100%;
    }
    .box1 {
        flex-direction: column;
    }
    
}

.foto img {
    border-radius: 100%;
    width: auto;
    height: 300px;
    padding: 20px;
}
.contacts {
    padding: 0px;
    list-style-type: none;
    line-height: 2;    
}

.contacts li img {      
    margin-right: 10px;
}

.skills, .courses {
    list-style-image: url(assets/img/checkmark.png);
}

.section3 p {
    padding: 20px;
    background-color: #94999c;
    text-align: center;    
}

code {   
    font-size: 18px;
}